<h1>Secrets#index</h1>
<p>Find me in app/views/secrets/index.html.erb</p>
<% @secrets.each do |s| %>
  <h3>ID:<%= s.id %></h2>
  <p>Content:<%= s.content %></p>
  <p>Like Count:<%= s.likes.count %> likes</p>
  <% if l = Like.where(user:@current_user, secret:s).first %>
		<form action='/likes/<%= l.id %>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Unlike'>
    </form>	  		
  <% else %>
	  <form action='/likes' method='post'>
	    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	    <input type='hidden' name='secret_id' value='<%= s.id %>'>
	    <input type='submit' value='Like'>
	  </form>
	<% end %>
  <% if @current_user == s.user %>
    <form action='/secrets/<%= s.id %>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Delete'>
    </form>
  <% end %>
<% end %>